@import url('https://fonts.googleapis.com/css?family=Exo+2|Montserrat');

main{
    border-radius: 15px;
    box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5% auto;
    width: 50%;
}

main > div:first-child{
    background: linear-gradient(to right, #1AA658, #7BD8A4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: auto;
    text-align: center;
}

main > div:first-child h2{
    color: #EEE;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    margin: .5em 0;
}

main > div:nth-child(2){
    background: linear-gradient(to right, #EEE, #C1CCC6);
    display: flex;
    flex-direction: row;
}

form{
    margin: auto;
    width: 80%;
}

form div{
    height: auto;
    margin: 5% 0;
    text-align: center;
    width: 100%;
}

form div p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-bottom: 1%;
    margin-top: 0;
    padding-left: 7%;
    text-align: left;
    width: auto;
}

input{
    height: 2em;
}

input[type="text"], input[type="password"]{
    font-family: 'Exo 2', sans-serif;
    font-size: 0.9em;
    outline: none;
    padding-left: 3.5%;
    width: 96.5%;
}

select{
    font-family: 'Exo 2', sans-serif;
    font-size: 0.9em;
    height: 2.5em;
    outline: none;
    padding-left: 3.5%;
    width: 100%;
}

form > div:last-child{
    height: auto;
    margin-bottom: 0;
    text-align: center;
}

button{
    background: #1AA658;
    border: none;
    border-radius: 7px;
    color: #EEE;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    height: 3em;
    margin-bottom: 5%;
    outline: none;
    width: 60%;
}

button:hover{
    box-shadow: inset 0px -10px 25px -10px rgba(255, 255, 255, 0.4);
}

button:active{
    box-shadow: inset 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
}

form > div:last-child a{
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    color: #1E4CA8;
}

form > div:last-child a:hover{
    color: #83BCFF;
}

main > div:last-child{
    background: linear-gradient(to right, #1AA658, #7BD8A4);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.5em;
    text-align: center;
}

.error{
    background: #AA0000;
    border-radius: 10px;
    color: #EEE;
    font-family: 'Exo 2', sans-serif;
    margin: 5px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}

.correcto{
    background: #001166;
    border-radius: 10px;
    color: #EEE;
    font-family: 'Exo 2', sans-serif;
    margin: 5px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}

@media screen and (max-width: 1024px){
    main{
        width: 80%;
    }
    
    main > div:first-child h2{
        font-size: 1.2em;
    }
    
    form div p{
        font-size: 1em;
    }
    
    input[type="text"], input[type="password"]{
        height: 1.5em;
    }
    
    select{
        height: 1.9em;
    }
    
    button{
        height: 2.5em;
        width: 50%;
    }
}