@import url('https://fonts.googleapis.com/css?family=Exo+2|Montserrat');

.principal{
    border-radius: 15px;
    box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 50px auto;
    width: 50%;
}

.principal > div:first-child{
    background: linear-gradient(to right, #1AA658, #7BD8A4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 2.5em;
}

.principal > div:nth-child(2){
    background: linear-gradient(to right, #EEE, #C1CCC6);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 2em;
}

.principal p{
    background: #AAA;
    border-radius: 5px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 0.5em 2em;
    text-shadow: 0 2px 2px #000;
}

.principal form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.principal form > input{
    font-family: 'Exo 2', sans-serif;
    height: 1.5em;
    margin: 0.5em auto;
    padding-left: 1em;
    width: 70%;
}

.principal form > button{
    background: #1AA658;
    border: none;
    border-radius: 7px;
    color: #EEE;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    height: 2em;
    outline: none;
    padding: 0;
    width: 30%;
}

button:hover{
    box-shadow: inset 0px -10px 25px -10px rgba(255, 255, 255, 0.4);
}

button:active{
    box-shadow: inset 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
}

.principal > div:last-child{
    background: linear-gradient(to right, #1AA658, #7BD8A4);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.5em;
}

@media screen and (max-width: 1024px){
    .principal{
        width: 80%;
    }
}