@import url('https://fonts.googleapis.com/css?family=Exo+2|Montserrat');

.principal{
    background: linear-gradient(to right, #EEE, #C1CCC6);
    border-radius: 15px;
    box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 50px auto;
    width: 80%;
}

.principal > div:first-child{
    background: linear-gradient(to right, #1AA658, #7BD8A4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 2.5em;
}

.principal > div:nth-child(2){
    padding: 2em;
}

.principal > div:nth-child(2) > div:first-child{
    height: auto;
    width: 100%;
}

.principal form{
    align-items: center;
    display: flex;
    height: auto;
    margin-bottom: 2em;
    width: 100%;
}

.principal form > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0.3em 0;
}

.principal form > input{
    font-family: 'Exo 2', sans-serif;
    height: 1.5em;
    margin: 0 1em;
    padding: 0;
    padding-left: 10px;
    width: 13em;
}

.principal button{
    background: #1AA658;
    border: none;
    border-radius: 7px;
    color: #EEE;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    margin: 0;
    outline: none;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 6em;
}

.principal button:hover{
    box-shadow: inset 0px -10px 25px -10px rgba(255, 255, 255, 0.4);
}

.principal button:active{
    box-shadow: inset 0px 10px 25px -10px rgba(0, 0, 0, 0.75);
}

.tabla{
    border-spacing: inherit;
    font-family: 'Montserrat', sans-serif;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
}

.tabla > thead{
    background: #798688;
    font-size: 1em;
}

.tabla > thead th{
    width: 20%;
}

.tabla > thead th:nth-child(n+2){
    border-left: 1px solid #000;
}

.tabla > tbody{
    font-size: 0.9em;
    text-align: center;
}

.tabla > tbody > tr:nth-child(2n){
    background: #A3ACAD;
}

.tabla > tbody > tr:nth-child(2n+1){
    background: #CCD1D2;
}

.tabla > tbody > tr td{
    border-top: 1px solid #000;
}

.tabla > tbody > tr td:nth-child(n+2){
    border-left: 1px solid #000;;
}

.principal > div:last-child{
    background: linear-gradient(to right, #1AA658, #7BD8A4);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.5em;
}

@media screen and (max-width: 1024px){
    
}